{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <main class="site-wrapper">
        <div class="pt-table">
            <div class="pt-tablecell page-about relative">
                <!-- .close -->
                <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                <!-- /.close -->

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="about-author">
                                <figure class="author-thumb">
                                    <img src="{{ artist.images[1].url }}" alt="">
                                </figure> <!-- /.author-bio -->
                                <div class="author-desc">
                                    <p><b>{{ artist.name }}</b></p>
                                    <p><b><a href="{{ artist.external_urls.spotify }}" target="_blank">Ir al perfil del artista</a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <table class="table table-hover">
                            <thead>
                                <th>Foto</th>
                                <th>Album</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                {% for album in albums %}
                                    <tr>
                                        <td><img src="{{ album.images[2].url }}" /></td>
                                        <td>{{ album.name }}</td>
                                        <td><a href="{{ album.external_urls.spotify }}" target="_blank">Ir al álbum</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
        </div>
    </main>


</div>
{% endblock %}
