{% extends 'base.html.twig' %}

{% block title %}Releases{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Last 20 releases</h1>

    <main class="site-wrapper">
        <div class="pt-table">
            <div class="pt-tablecell page-works relative">
                <!-- .close -->
                <a href="./" class="page-close"><i class="tf-ion-close">    </i></a>
                <!-- /.close -->

                <div class="container">
                    <div class="row isotope-gutter">
                        {% for release in releases %}
                            <div class="col-xs-12 col-sm-6 col-md-4 Photoshop Illustrator">
                                <figure class="works-item">
                                    <img src="{{ release.images[1].url }}" alt="">
                                    <a href="{{ path('artist', {id: release.artists[0].id}) }}">
                                        <div class="overlay"></div>
                                        <figcaption class="works-inner">
                                            <h4>{{ release.name }}</h4>
                                            <p>{{ release.artists[0].name }}</p>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
